@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
@import url('tldraw/tldraw.css');

body {
	font-family: 'Inter', sans-serif;
	overscroll-behavior: none;
}

/* Force pointer cursor for clickable shapes */
.tl-container[data-clickable="true"] {
	cursor: pointer !important;
}

.tl-container[data-clickable="true"] * {
	cursor: pointer !important;
}
